@tailwind base;
@tailwind components;
@tailwind utilities;

[data-collapsible='true'].bg-white + [data-collapsible='true'].bg-white,
[data-collapsible='true'].bg-slate-100
  + [data-collapsible='true'].bg-slate-100 {
  @apply pt-0 md:pt-0;
}

@layer utilities {
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .marquee {
    animation: marquee 8s linear infinite;
    white-space: nowrap;
    display: inline-block;
  }
}
